<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delfi.vn.template">

    <application
        android:name="com.delfi.vn.template.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/arito_app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.delfi.vn.template.ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.delfi.vn.template.ui.developing.NextTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.main.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.delfi.vn.template.ui.main.submenu.SubMainMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.settings.appid.AppIDSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.settings.printip.PrinterIPSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.settings.ExMainSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.scanqr.ScanQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.menu11.input.Menu11InputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.menu11.detail.Menu11DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.delfi.vn.template.ui.menu11.review.Menu11ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.serverip.ServerIPSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu21.Menu21InputActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.menu22.Menu22InputActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.settings.printbluetooth.PrinterSettingActivity"
            android:screenOrientation="portrait"></activity>

        <receiver
            android:name="com.delfi.vn.template.services.api.NetworkStatusReceiver"
            android:enabled="true" />
    </application>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

</manifest>